.container {
    padding:10px;
    
}
.card {
    border: 0px none;
    border-radius: 0px;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    height: 30%;
  }
  
  .brand {
      padding-top: 10px;
      padding-left: 20px;
      background-color:#3CAEA3;
      color: white;
      height: 20%;
  }

  .textBox {
      width: 60%
  }

  .feeds {
      color:rgba(0, 0, 0, 0.5);
  }

  .separator {
      width: 90%
  }

